ALTER PROCEDURE [dbo].[usp_SELECT_TipoDispositivo_ByID]
    @ID_TipoDispositivo INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ID_TipoDispositivo,
        Nombre_TipoDispositivo,
        Descripcion,
        Estado
    FROM TipoDispositivo
    WHERE ID_TipoDispositivo = @ID_TipoDispositivo;
END