ALTER PROCEDURE [dbo].[usp_INSERT_Producto]
(
    @Codigo_Barras nvarchar(200),
    @ID_Marca int,
    @ID_Modelo int,
    @ID_TipoDispositivo int,
    @Informacion_General nvarchar(1000),
    @Caracteristicas_Tecnicas nvarchar(2000),
    @Extras_Accesorios nvarchar(1000),
    @Fotografia varbinary(MAX),
    @Estado bit
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Producto
    (
        Codigo_Barras,
        ID_Marca,
        ID_Modelo,
        ID_TipoDispositivo,
        Informacion_General,
        Caracteristicas_Tecnicas,
        Extras_Accesorios,
        Fotografia,
        Estado
    )
    VALUES
    (
        @Codigo_Barras,
        @ID_Marca,
        @ID_Modelo,
        @ID_TipoDispositivo,
        @Informacion_General,
        @Caracteristicas_Tecnicas,
        @Extras_Accesorios,
        @Fotografia,
        @Estado
    );

    SELECT *
    FROM Producto
    WHERE ID_Producto = SCOPE_IDENTITY();
END