USE [ProyectoElectroNova1]
GO
/****** Object:  StoredProcedure [dbo].[usp_INSERT_Cliente]    Script Date: 15/3/2026 20:57:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_INSERT_Cliente]
 (@Identificacion nvarchar(40),@Pasaporte nvarchar(40),@Nombre nvarchar(100),@Apellidos nvarchar(100),@Sexo int,@Telefono nvarchar(30),@Email nvarchar(200),@DireccionExacta nvarchar(400),@Provincia nvarchar(100),@Fotografia varbinary(MAX),@Estado bit)
AS 
-- Stored Procedured Generado por SQLTool Box 
-- Version: 4.1.0.0 
 -- Fecha: 14/3/2026 18:16:43 
 insert into Cliente(Identificacion ,Pasaporte ,Nombre ,Apellidos ,Sexo ,Telefono ,Email ,DireccionExacta ,Provincia ,Fotografia ,Estado ) 
 values(@Identificacion ,@Pasaporte ,@Nombre ,@Apellidos ,@Sexo ,@Telefono ,@Email ,@DireccionExacta ,@Provincia ,@Fotografia ,@Estado  )

 