USE [ProyectoElectroNova1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_SELECT_Marca_ByID]
    @ID_Marca INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ID_Marca,
        Nombre_Marca,
        Descripcion,
        Estado
    FROM Marca
    WHERE ID_Marca = @ID_Marca;
END
GO