USE [ProyectoElectroNova1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_SELECT_IngresoStock_All]
AS
BEGIN
    SELECT
        ID_IngresoStock,
        ID_Producto,
        TipoMovimiento,
        Cantidad,
        FacturaCompra,
        Observaciones
    FROM IngresoStock;
END