ALTER PROCEDURE [dbo].[usp_SELECT_TipoDispositivo_All]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ID_TipoDispositivo,
        Nombre_TipoDispositivo,
        Descripcion,
        Estado
    FROM TipoDispositivo;
END