USE [ProyectoElectroNova1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_UPDATE_Usuario]
(
    @ID_Usuario INT,
    @NombreUsuario NVARCHAR(100),
    @Contrasena NVARCHAR(200),
    @ID_Rol INT,
    @Estado BIT
)
AS
BEGIN
    UPDATE Usuario
    SET
        NombreUsuario = @NombreUsuario,
        Contrasena = @Contrasena,
        ID_Rol = @ID_Rol,
        Estado = @Estado
    WHERE ID_Usuario = @ID_Usuario;
END