USE [ProyectoElectroNova1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_UPDATE_Marca]
    @ID_Marca INT,
    @Nombre_Marca NVARCHAR(200),
    @Descripcion NVARCHAR(400),
    @Estado BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Marca
    SET 
        Nombre_Marca = @Nombre_Marca,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE ID_Marca = @ID_Marca;

    SELECT 
        ID_Marca,
        Nombre_Marca,
        Descripcion,
        Estado
    FROM Marca
    WHERE ID_Marca = @ID_Marca;
END
GO