ALTER PROCEDURE [dbo].[usp_SELECT_Modelo_ByID]
    @ID_Modelo INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ID_Modelo,
        Codigo_Modelo,
        Descripcion,
        Estado
    FROM Modelo
    WHERE ID_Modelo = @ID_Modelo;
END