USE [ProyectoElectroNova1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_INSERT_DetalleFactura]
(
    @ID_Factura VARCHAR(20),
    @ID_Producto INT,
    @Cantidad INT,
    @Precio DECIMAL(18,2),
    @Subtotal DECIMAL(18,2),
    @IVA DECIMAL(18,2),
    @Total DECIMAL(18,2)
)
AS
BEGIN
    INSERT INTO DetalleFactura
    (
        ID_Factura,
        ID_Producto,
        Cantidad,
        Precio,
        Subtotal,
        IVA,
        Total
    )
    VALUES
    (
        @ID_Factura,
        @ID_Producto,
        @Cantidad,
        @Precio,
        @Subtotal,
        @IVA,
        @Total
    )
END
GO