ALTER PROCEDURE [dbo].[usp_SELECT_Usuario_ByID] 
(
    @ID_Usuario INT
)
AS
BEGIN
    SELECT 
        ID_Usuario,
        NombreUsuario,
        Contrasena,
        ID_Rol,
        Estado
    FROM Usuario
    WHERE ID_Usuario = @ID_Usuario;
END