USE [ProyectoElectroNova1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_UPDATE_DetalleFactura]
(
    @ID_DetalleFactura INT,
    @ID_Factura VARCHAR(20),
    @ID_Producto INT,
    @Cantidad INT,
    @Precio DECIMAL(18,2),
    @Subtotal DECIMAL(18,2),
    @IVA DECIMAL(18,2),
    @Total DECIMAL(18,2)
)
AS
BEGIN
    UPDATE DetalleFactura
    SET
        ID_Factura = @ID_Factura,
        ID_Producto = @ID_Producto,
        Cantidad = @Cantidad,
        Precio = @Precio,
        Subtotal = @Subtotal,
        IVA = @IVA,
        Total = @Total
    WHERE ID_DetalleFactura = @ID_DetalleFactura
END
GO