ALTER PROCEDURE [dbo].[usp_SELECT_Factura_All]
AS 
BEGIN
    SELECT 
        ID_Factura,
        ID_Cliente,
        Fecha,
        Subtotal,
        IVA,
        TotalCRC,
        TotalUSD,
        TipoCambio,
        FirmaCliente,
        DocumentoXML,
        TipoPago,
        Descuento,
        Banco,
        Estado,
        ID_Tarjeta
    FROM Factura
END