ALTER PROCEDURE [dbo].[usp_SELECT_Cliente_ByID]
    @ID_Cliente INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ID_Cliente,
        Identificacion,
        Pasaporte,
        Nombre,
        Apellidos,
        Sexo,
        Telefono,
        Email,
        DireccionExacta,
        Provincia,
        Fotografia,
        Estado
    FROM Cliente
    WHERE ID_Cliente = @ID_Cliente;
END