USE [ProyectoElectroNova1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_SELECT_Producto_ByID]
(
    @ID_Producto INT
)
AS
BEGIN
    SELECT
        ID_Producto,
        Codigo_Barras,
        ID_Marca,
        ID_Modelo,
        ID_TipoDispositivo,
        Informacion_General,
        Caracteristicas_Tecnicas,
        Extras_Accesorios,
        Fotografia,
        Estado
    FROM Producto
    WHERE ID_Producto = @ID_Producto;
END