USE [ProyectoElectroNova1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_SELECT_DetalleFactura_ByID]
(
    @ID_DetalleFactura INT
)
AS
BEGIN
    SELECT
        ID_DetalleFactura,
        ID_Factura,
        ID_Producto,
        Cantidad,
        Precio,
        Subtotal,
        IVA,
        Total
    FROM DetalleFactura
    WHERE ID_DetalleFactura = @ID_DetalleFactura
END
GO