USE [ProyectoElectroNova1]
GO
/****** Object:  StoredProcedure [dbo].[usp_DELETE_Producto_ByID]    Script Date: 7/4/2026 11:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_DELETE_Producto_ByID] 
(@ID_Producto int)
AS 
-- Stored Procedured Generado por SQLTool Box |
-- Version: 4.1.0.0 
 -- Fecha: 25/3/2026 19:01:08 
 	Delete from Producto
	Where (ID_Producto =  @ID_Producto)