USE [ProyectoElectroNova1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_INSERT_Factura]
(
    @ID_Factura varchar(20),
    @ID_Cliente int,
    @Fecha datetime,
    @Subtotal decimal(18,2),
    @IVA decimal(18,2),
    @TotalCRC decimal(18,2),
    @TotalUSD decimal(18,2),
    @TipoCambio decimal(18,2),
    @FirmaCliente varbinary(MAX),
    @DocumentoXML xml,
    @TipoPago varchar(50),
    @Descuento decimal(18,2),
    @Banco varchar(100),
    @Estado bit,
    @ID_Tarjeta int = NULL
)
AS
BEGIN
    INSERT INTO Factura
    (
        ID_Factura,
        ID_Cliente,
        Fecha,
        Subtotal,
        IVA,
        TotalCRC,
        TotalUSD,
        TipoCambio,
        FirmaCliente,
        DocumentoXML,
        TipoPago,
        Descuento,
        Banco,
        Estado,
        ID_Tarjeta
    )
    VALUES
    (
        @ID_Factura,
        @ID_Cliente,
        @Fecha,
        @Subtotal,
        @IVA,
        @TotalCRC,
        @TotalUSD,
        @TipoCambio,
        @FirmaCliente,
        @DocumentoXML,
        @TipoPago,
        @Descuento,
        @Banco,
        @Estado,
        @ID_Tarjeta
    )
END
GO