ALTER PROCEDURE [dbo].[usp_SELECT_Producto_All]
AS
BEGIN
    SELECT
        p.ID_Producto,
        p.Codigo_Barras,
        p.ID_Marca,
        m.Nombre_Marca,
        p.ID_Modelo,
        mo.Codigo_Modelo,
        p.ID_TipoDispositivo,
        td.Nombre_TipoDispositivo,
        p.Informacion_General,
        p.Caracteristicas_Tecnicas,
        p.DocumentoEspecificaciones,
        p.Extras_Accesorios,
        p.Fotografia,
        p.Precio,
        p.Existencia,
        p.Estado
    FROM Producto p
    INNER JOIN Marca m ON p.ID_Marca = m.ID_Marca
    INNER JOIN Modelo mo ON p.ID_Modelo = mo.ID_Modelo
    INNER JOIN TipoDispositivo td ON p.ID_TipoDispositivo = td.ID_TipoDispositivo;
END