USE [ProyectoElectroNova1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_INSERT_Usuario]
(
    @NombreUsuario NVARCHAR(100),
    @Contrasena NVARCHAR(200),
    @ID_Rol INT,
    @Estado BIT
)
AS
BEGIN
    INSERT INTO Usuario
    (
        NombreUsuario,
        Contrasena,
        ID_Rol,
        Estado
    )
    VALUES
    (
        @NombreUsuario,
        @Contrasena,
        @ID_Rol,
        @Estado
    );
END