ALTER PROCEDURE [dbo].[usp_SELECT_Cliente_All]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ID_Cliente,
        Identificacion,
        Pasaporte,
        Nombre,
        Apellidos,
        Sexo,
        Telefono,
        Email,
        DireccionExacta,
        Provincia,
        Fotografia,
        Estado
    FROM Cliente;
END
