USE [ProyectoElectroNova1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_INSERT_Marca]
    @Nombre_Marca NVARCHAR(200),
    @Descripcion NVARCHAR(400),
    @Estado BIT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Marca (Nombre_Marca, Descripcion, Estado)
    VALUES (@Nombre_Marca, @Descripcion, @Estado);

    SELECT 
        ID_Marca,
        Nombre_Marca,
        Descripcion,
        Estado
    FROM Marca
    WHERE ID_Marca = SCOPE_IDENTITY();
END
GO