USE [ProyectoElectroNova1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_UPDATE_Factura]
(
    @ID_Factura varchar(20),
    @ID_Cliente int,
    @Fecha datetime,
    @Subtotal decimal(18,2),
    @IVA decimal(18,2),
    @TotalCRC decimal(18,2),
    @TotalUSD decimal(18,2),
    @TipoCambio decimal(18,2),
    @FirmaCliente varbinary(MAX),
    @DocumentoXML xml,
    @TipoPago varchar(50),
    @Descuento decimal(18,2),
    @Banco varchar(100),
    @Estado bit,
    @ID_Tarjeta int = NULL
)
AS
BEGIN
    UPDATE Factura
    SET
        ID_Cliente = @ID_Cliente,
        Fecha = @Fecha,
        Subtotal = @Subtotal,
        IVA = @IVA,
        TotalCRC = @TotalCRC,
        TotalUSD = @TotalUSD,
        TipoCambio = @TipoCambio,
        FirmaCliente = @FirmaCliente,
        DocumentoXML = @DocumentoXML,
        TipoPago = @TipoPago,
        Descuento = @Descuento,
        Banco = @Banco,
        Estado = @Estado,
        ID_Tarjeta = @ID_Tarjeta
    WHERE ID_Factura = @ID_Factura
END
GO